html,
body {
    background-color: #fff;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

button {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    border-radius: 4px;
    background-color: #0072ff;
    color: #fff;
    font-weight: 600;
    margin: 0 1rem;
}
