.Header {
    padding: 1rem 2rem;

    .Header__nav {
        display: flex;
        justify-content: space-between;

        .Header__logo {
            font-size: 1.5rem;
        }

        .Header__nav-right {
            display: flex;
            align-items: center;

            div {
                margin-left: 1rem;
            }
        }
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 0.85rem;
        border-radius: 4px;
        background-color: #0072ff;
        color: #fff;
        font-weight: 600;
        margin: 0 1rem;
    }
}
