.SignupForm {
    padding: 0.5rem 1rem;

    .SignupForm__signup {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;

        input {
            margin-bottom: 1rem;
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #c7c7c7;
            border-radius: 4px;
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            border-radius: 4px;
            background-color: #0072ff;
            color: #fff;
            font-weight: 600;
            margin: 1rem 0;
            cursor: pointer;
        }
    }
}
